<!-- MENU NAV -->
<app-nav></app-nav>


<section>
    <div class="container-fluid pt-5 px-4">
        <div class="row my-5">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card">
                    <!-- spinner -->
                    <div class="container-loader" *ngIf="loading$ | async">
                        <span class="loader"></span>
                    </div>
                    <div class="col-md-12 pt-4">
                        <div class="pb-2">

                            <h3>Editar galería producto</h3>
                            <p>Rellena los siguientes datos.</p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xl-6 col-sm-6 mb-4">
                            <!-- Single product -->

                            <app-carousel [images]="galeria$ | async"></app-carousel>
                        </div>

                        <div class="col-xl-6 col-sm-6 mb-4">

                            <div class="container" *ngIf="!(loading$ | async)">
                                <!-- Drop zone -->
                                <mat-card class="card">
                                    <mat-card-content class="dropzone">
                                        <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'">
                                            <ngx-dropzone-label>Arrastre y suelte su imagen</ngx-dropzone-label>
                                            <ngx-dropzone-image-preview *ngFor="let i of images" [file]="i"
                                                [removable]="true" (removed)="onRemove(i)">
                                            </ngx-dropzone-image-preview>
                                        </ngx-dropzone>
                                    </mat-card-content>
                                    <mat-card-actions class="accion">
                                        <button class="btn-subir" mat-button (click)="subir_images()"
                                            [disabled]="this.images.length == 0">

                                            <ion-icon name="cloud-upload-outline"></ion-icon>
                                            Subir
                                        </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>

                        </div>
                    </div>
                        <div class="col-md-12 mb-4">
                            <!-- Tabla -->
                            <table class="table" mat-table [dataSource]="data">

                                <!-- Img Product -->
                                <ng-container matColumnDef="imagen">
                                    <th class="pb-3" mat-header-cell *matHeaderCellDef>Imagen</th>
                                    <td class="py-3" mat-cell *matCellDef="let element">
                                        <img class="imgTabla" [src]="url + 'obtenerPortada/' + element">
                                    </td>
                                </ng-container>


                                <!-- Function Column -->
                                <ng-container matColumnDef="eliminar">
                                    <th class="pb-3" mat-header-cell *matHeaderCellDef>Eliminar</th>
                                    <td class="py-3" mat-cell *matCellDef="let element">
                                        <ion-icon name="trash-outline"
                                            (click)="openDialog(element.imagen, element._id)"></ion-icon>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="columnsDisplay"></tr>
                                <tr mat-row *matRowDef="let row; columns: columnsDisplay;">
                            </table>

                        </div>
                </div>
            </div>
        </div>
    </div>
</section>