<nav class="navbar navbar-expand-md">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse"
    data-target="#dashboardNavbar"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="dashboardNavbar">
        <div class="container-fluid">
            <div class="row">
                <!-- sidebar -->
                <app-sidenav></app-sidenav>

                <!-- Top-bar -->
                <div class="col-xl-10 col-lg-9 col-md-8 fixed-top  top-bar ml-auto pb-2 ">
                    <app-navbar></app-navbar>
                </div>
            </div>
        </div>
    </div>

</nav>
