*{
    font-size: 14px;
}


h4{
    color: var(--black);
    font-size: x-large;
    font-weight: 500;
    // border-color: none;
}
.bi{
  -webkit-text-stroke: .5px;

}

ion-icon{
  font-size: 25px;
}

.sing-out-btn:hover, .search-btn:hover {
  color: var(--grey);
}

.imagenPerfil{
  width: 35px;
}


// botones
.btn{
  background-color:var(--segundoColor) ;
  color: var(--white);
}