// *{
//     font-size: 14px;
// }

// mat-toolbar{
//     background: white;
//     border-bottom: 1px solid #C6C6C6;
//     min-height: 75px;
// }


// img{
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
// }

// .menu-container{
//     width: 100%;
//     display: flex;
//     justify-content: right;
//     align-items: right;
// }

// // cambia el tamaño de los iconos
// ion-icon{
//     font-size: 20px;
// }



h4{
    color: var(--black);
    font-size: x-large;
    font-weight: 500;
    // border-color: none;
}
.bi{
  -webkit-text-stroke: .5px;

}
.search {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #999;
  transition: all .4s ease;
}
  
.search:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid var(--primerColor);
}

.search-btn {
  // border-radius: 60%;
  padding: 10px 16px;
  transition: all .4s ease;
  // background-color: #eee;

}

.sing-out-btn:hover, .search-btn:hover {
  color: var(--grey);
}

