
// Tarjeta
.card{
    border-radius: 10px;
}

// botones
.btn{
    background-color:var(--segundoColor) ;
    color: var(--white);
}

// botones
.btnAdd{
    background-color:var(--segundoColor) ;
    color: var(--white);
}
.btnAtras{
    background-color:var(--sextoColor) ;
    color: var(--white);
}
.btnDelete{
    background-color: var(--red) ;
    color: var(--white);
}

// estilos para el mat stepper
::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: var(--primerColor); 
}


//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--primerColor)!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: var(--primerColor) !important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--black)!important;
}

// Colores del checkbox
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color:var(--primerColor) !important;
}
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color:var(--primerColor) !important;
}
::ng-deep .matStepLabel{
    background-color:var(--sextoColor) !important;

}