<!-- MENU NAV -->
<app-nav></app-nav>


<!-- Tabla de cupones -->
<section>
    <div class="container-fluid pt-5 px-4">
        <div class="row my-5 ">
            <div class=" col-xl-10 col-lg-9 col-md-8 ml-auto ">
                <div class="card">
                    <!-- loader mientras cargar los datos de la api -->
                    <div class="container-loader" *ngIf="loading$ | async">
                        <span class="loader"></span>
                    </div>

                    <!-- Botones -->
                    <div class="col-md-12 pt-4">
                        <div class="text-right justify-content-between">

                            <!-- boton eliminar masivamente -->
                            <button class="btn btn-eliminar mr-2 btn-exportar"
                                *ngIf="this.selection.selected.length > 1" (click)="openDialogMany()">
                                <i class="bi bi-trash3"></i>
                                Eliminar
                            </button>
                            <!-- agregar nuevo cupon -->
                            <button type="button mr-2" class="btn" (click)="DialogAgregarCupon()">
                                <i class="bi bi-plus-circle"></i>
                                Agregar cupón
                            </button>

                        </div>
                    </div>

                    <!-- Input Buscar -->
                    <div class="col-md-12 pt-4">
                        <div class="input-group">
                            <mat-form-field appearance="outline">
                                <mat-label> <i class="bi bi-search"></i> Filtrar cupones descuentos</mat-label>
                                <input matInput formControlName="nombre" (keyup)="applyFilter($event)" #input>
                            </mat-form-field>
                        </div>
                    </div>


                    <!-- Tabla -->
                    <div class="col-md-12 ">
                        <table class="table " mat-table [dataSource]="data">

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th class="pb-2" mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox class="pt-4" (change)="$event ? toggleAllRows() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td class="py-2" mat-cell *matCellDef="let row">
                                    <mat-checkbox class="pt-3" (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>



                            <!-- Codigo -->
                            <ng-container matColumnDef="codigo">
                                <th class="pb-3" mat-header-cell *matHeaderCellDef>Código</th>
                                <td class="py-3" mat-cell *matCellDef="let element">{{element.codigo}}
                                    <br><strong>{{element.sku}}</strong>
                                </td>
                            </ng-container>

                            <!-- Tipo Column -->
                            <ng-container matColumnDef="tipo">
                                <th class="pb-3" mat-header-cell *matHeaderCellDef>Tipo</th>
                                <td class="py-3" mat-cell *matCellDef="let element">{{element.tipo}}
                                    <br><strong>{{element.sku}}</strong>
                                </td>
                            </ng-container>

                            <!-- Valor Column -->
                            <ng-container matColumnDef="valor">
                                <th class="pb-3" mat-header-cell *matHeaderCellDef>Valor</th>
                                <td class="py-3" mat-cell *matCellDef="let element">{{element.valor}}</td>
                            </ng-container>

                            <!-- Limite Column -->
                            <ng-container matColumnDef="limite">
                                <th class="pb-3" mat-header-cell *matHeaderCellDef>Nº Restantes</th>
                                <td class="py-3" mat-cell *matCellDef="let element">{{element.limite}}</td>
                            </ng-container>

                            <!-- Function Column -->
                            <ng-container matColumnDef="funciones" class="funciones">
                                <th class="pb-3" mat-header-cell *matHeaderCellDef>Funciones</th>
                                <td class="py-3" mat-cell *matCellDef="let element">
                                    <ion-icon name="create-outline" [routerLink]="['/cupones', element._id]"
                                        routerLinkActive="router-link-active">
                                    </ion-icon>
                                    <ion-icon name="trash-outline"
                                        (click)="DialogConfirmar(element.codigo, element._id)">
                                    </ion-icon>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsDisplay;" (click)="selection.toggle(row)">

                                <!-- Cuando no hay ningun resultado, agrega una fifla con ese mensaje -->
                            <tr *matNoDataRow>
                                <td class="py-3" class="mat-cell" colspan="4">No se ha encontrado ningún cupon
                                    "{{input.value}}"</td>
                            </tr>
                        </table>
                    </div>

                    <!-- Paginator -->
                    <div class="col-md-12 pt-4 d-flex justify-content-center">

                        <mat-paginator [pageSize]="50"></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>