<!-- MENU NAV -->
<app-nav></app-nav>

<section>
    <div class="container-fluid pt-5 px-4">
        <div class="row my-5 ">
            <div class=" col-xl-10 col-lg-9 col-md-8 ml-auto ">
                <div class="card">

                    <!-- detalle compra -->
                    <div class="col-md-12 pt-4">
                        <h1 class="h1 m-3 text-center">Compra realizada </h1>
                    </div>
                    <!-- spinner -->
                    <div class="container-loader" *ngIf="isLoading$ | async">
                        <span class="loader"></span>
                    </div>


                    <div class="col-md-12 px-5" *ngIf="!(isLoading$ | async)">

                        <div class="col-md-12 pt-4">
                            <h3 class="h3 text-left">Detalles compra</h3>
                        </div>
                        <div class="col mr-2" style="margin-bottom: 30px;">
                            <p>Order No: <b>{{dCompra.data._id.toUpperCase()}}</b></p>
                            <p>Envio: <b>{{dCompra.data.envio.tipo}}</b></p>
                            <p>Fecha: <b>{{dCompra.data.creado | date}}</b></p>
                            <p>Direccion: <b>{{dCompra.data.direccion.calle + ', ' + dCompra.data.direccion.provincia +
                                    ',
                                    ' + dCompra.data.direccion.ciudad}}</b></p>
                            <div class="otherContainer">
                                <p>Venta: <b>{{dCompra.data.nventa}}</b></p>
                                <p>Transacción: <b>{{dCompra.data.transaccion}}</b></p>
                                <p>Estado: <b>{{dCompra.data.estado}}</b></p>
                                <p>Total: <b>{{dCompra.data.subtotal}}€</b></p>
                            </div>
                        </div>

                        <div class="col-md-12 pt-4">
                            <h3 class="h3 text-left">Productos compra</h3>
                        </div>

                        <!-- detalles productos -->
                        <div class="col-md-12  mr-2 pb-4">

                            <div class="row align-items-center mb-3 p-3 card-productos" *ngFor="let item of dCompra.detalles">
                                <div class="col-md-4"> <img class="imgPedido"
                                        [src]="url + 'obtenerPortada/' + item.producto.portada">
                                </div>
                                <div class="col-md-8">
                                    <p><b>Producto: {{item.producto.nombre}}</b></p>
                                    <p>Marca: <b>{{item.producto.marca}}</b></p>
                                    <p>Talla: <b>{{item.producto.talla}}</b></p>
                                    <p>Precio: <b>{{item.producto.precioVenta}}€</b></p>
                                    <p>Cantidad: 1</p>

                                </div>
                            </div>
                        </div>






                    </div>

                </div>
            </div>
        </div>
    </div>

</section>