

.siguiente{
    background: #24292e;
    border-color: #24292e;
}

.siguiente:hover{
    background-color: black;
    transition: 0.6s;
}





.container{
    display: flex;
    flex-direction: row;
    
}