/* You can add global styles to this file, and also import other style files */

/* btn-color */
.btn-color {
  background-color: #446970 !important;
  color: white;
}
/* sidebar */
.sidebar .active {
  background-color: #446970 !important;
  color: var(--white);
  border-radius: 7px;

  transition: all 0.3s ease;
}

.sidebar .active:hover {
  background-color: #678b83 !important;
  transform: translateY(-5px);
}
.sidebar a:active {
  background-color: #678b83 !important;
}

.badge-color {
  background-color: #678b83 !important;
}



.pagination {
  margin-bottom: 0px;
}



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
