<!-- Agregar nuevos de cuponess -->
<section>
</section>

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Crear nuevo código descuento
                    </h3>
                    <p>Rellena los siguientes datos.</p>
                    <form [formGroup]="formCreateCupon">

                        <div class="col-md-12 mt-3">

                            <!-- Codigo de cupon -->
                            <mat-form-field appearance="outline">
                                <mat-label>Código de cupón</mat-label>
                                <input matInput formControlName="codigo">
                                <mat-error *ngIf="formCreateCupon
                                        .get('codigo')?.touched && formCreateCupon
                                        .get('codigo')?.errors?.['required']">
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <!-- Tipo -->
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo</mat-label>
                                <mat-select formControlName="tipo">
                                    <mat-option value="porcentaje">Porcentaje</mat-option>
                                    <mat-option value="valorFijo">Valor fijo</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formCreateCupon
                                        .get('tipo')?.touched && formCreateCupon
                                        .get('tipo')?.errors?.['required']">
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12">
                            <!-- Valor -->
                            <mat-form-field appearance="outline">
                                <mat-label>Valor</mat-label>
                                <input matInput formControlName="valor" type="number" min="1" max="100">
                                <mat-error *ngIf="formCreateCupon
                                    .get('valor')?.touched && formCreateCupon
                                    .get('valor')?.errors?.['required']">
                                </mat-error>
                                <mat-error *ngIf="formCreateCupon
                                    .get('valor')?.touched && formCreateCupon
                                    .get('valor')?.errors?.['min']">
                                    <p>
                                        Recuerda el valor mínimo es 1
                                    </p>
                                </mat-error>
                                <mat-error *ngIf="formCreateCupon
                                    .get('valor')?.touched && formCreateCupon
                                    .get('valor')?.errors?.['max']">
                                    <p>
                                        Recuerda el valor maximo es 100
                                    </p>
                                </mat-error>
                            </mat-form-field>



                        </div>


                        <div class="col-md-12">
                            <!-- Limite -->
                            <mat-form-field appearance="outline">
                                <mat-label>Limite</mat-label>
                                <input matInput formControlName="limite" type="number" min="1">
                                <mat-error *ngIf="formCreateCupon
                                    .get('limite')?.touched && formCreateCupon
                                    .get('limite')?.errors?.['required']">

                                </mat-error>
                                <mat-error *ngIf="formCreateCupon
                                    .get('limite')?.touched && formCreateCupon
                                    .get('limite')?.errors?.['min']">
                                    <p>
                                        Recuerda el valor mínimo es 1
                                    </p>
                                </mat-error>
                            </mat-form-field>
                        </div>


                        <div class="col-md-12 mb-3">
                            <button type="button" class="btn" (click)="generarCodigo()">
                                <i class="bi bi-arrow-clockwise"></i>
                                Generar código automático
                            </button>
                        </div>

                        <div class="form-button mt-3">
                            <button mat-button (click)="onClickCancelar()">Cancelar</button>                      
                            <!-- Boton confirmar -->
                            <button 
                                mat-button 
                                type="submit" 
                                class="btn btn-color ml-2"
                                [disabled]="formCreateCupon
                                .invalid"
                                 (click)="doAction()">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
