// tamaño de letra de todo el componente
*{
    font-size: 14px;
}

// Tarjeta
.card{
    border-radius: 10px;
}


// imagen tabla
.imgTabla{
    width: 85px; 
    height: 59px;
    object-fit: cover;
}


// color del la fila al pasar por ella.
.mat-row:hover .mat-cell{
    background-color: #EEF0F2;
}

// botones
.btn{
    background-color:var(--segundoColor) ;
    color: var(--white);
}

.btn-eliminar{
    background-color: var(--red);
}

// cambia el tamaño de los iconos (funciones)
ion-icon{
    font-size: 25px;
    margin-right: 10px;
}

// colores publicado
.NoPublicado{
    color: red;
    font-weight: bold;
    font-size: 30px;
}

.SiPublicado{
    color: green;
    font-size: 30px;

}



// estilos para el input
mat-form-field {
    width: 100%;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--primerColor)!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: var(--primerColor) !important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--black)!important;
}

// Colores del checkbox
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color:var(--primerColor) !important;
}
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color:var(--primerColor) !important;
}