<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card  " style="border-radius: 1rem;">
                    <div class="card-body p-5">

                        <div class="mb-md-5 mt-md-4 pb-5 text-center">

                            <img class="logo mb-2 text-center" src="../../../assets/Cream-Kicks-Logotipo.svg">

                            <h2 class="fw-bold mb-5 text-uppercase text-center">Admin</h2>

                            <form class="login" [formGroup]="formValidator">
                                <app-login-error *ngIf="isError$ | async" [error]="isError$ | async"></app-login-error>
                                
                                <div class="form-outline  mb-4">
                                    <label class="text-left" for="">Correo electrónico</label>
                                    <input type="email" class="form-control form-control-lg input" placeholder="Correo electrónico" formControlName="email">
                                </div>
                                
                                <div class="form-outline  mb-4">
                                    <label class="text-left" for="">Contraseña</label>
                                    <input type="password" class="form-control form-control-lg input" placeholder="Contraseña" formControlName="password">
                                </div>
                                
                                <button class="btn btn-outline-dark btn-lg px-5" (click)="login()">Login</button>

                            </form>

                            
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
