<!-- MENU NAV -->
<app-nav></app-nav>

<!-- Se cargar cuando no se ha encontrado ningun producto -->
<app-not-found-item *ngIf="product== undefined" name="producto" ruta="/products"></app-not-found-item>

<ng-container *ngIf="product == undefined">
    <h1 style="text-align: center;">Producto no encontrado</h1>
</ng-container>

<section>
    <div class="container-fluid pt-5 px-4">
        <div class="row my-5">
            <div class=" col-xl-10 col-lg-9 col-md-8 ml-auto ">
                <div class="card">

                    <!-- Si hay producto lo enseño -->
                    <div class="col-md-12 pt-4" *ngIf="product != undefined">
                        <div class="pb-2">

                            <h3>Editar Producto</h3>
                            <p>Rellena los siguientes datos.</p>
                        </div>
                        <form (ngSubmit)="updateProduct()" [formGroup]="formUpdateProduct">

                            <!-- Modelo -->
                            <mat-form-field class="w-50 pr-3" appearance="outline">
                                <mat-label>Modelo</mat-label>
                                <input matInput formControlName="nombre">
                                <mat-error *ngIf="formUpdateProduct
                                    .get('nombre')?.touched && formUpdateProduct
                                    .get('nombre')?.errors?.['required']">
                                    Modelo obligatario
                                </mat-error>
                            </mat-form-field>

                            <!-- Sku -->
                            <mat-form-field class="w-50" appearance="outline">
                                <mat-label>sku</mat-label>
                                <input matInput formControlName="sku">
                                <mat-error *ngIf="formUpdateProduct
                                    .get('sku')?.touched && formUpdateProduct
                                    .get('sku')?.errors?.['required']">
                                    SKU obligatorio
                                </mat-error>
                            </mat-form-field>

                            <!-- Marca -->
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Marca</mat-label>
                                <mat-select formControlName="marca">
                                    <mat-option *ngFor="let marca of listaMarcas" [value]="marca">{{marca}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formUpdateProduct
                                                            .get('marca')?.touched && formUpdateProduct
                                                            .get('marca')?.errors?.['required']">
                                    Marca obligatorio
                                </mat-error>
                            </mat-form-field>

                            <!-- Precio compra -->
                            <mat-form-field class="w-50 pr-3" appearance="outline" floatLabel="always">
                                <mat-label>Precio Compra</mat-label>
                                <input matInput type="number" placeholder="0" formControlName="precioCompra" min="1">
                                <mat-error *ngIf="formUpdateProduct
                                            .get('precioCompra')?.touched && formUpdateProduct
                                            .get('precioCompra')?.errors?.['required']">
                                    Precio Compra obligatorio
                                </mat-error>
                                <mat-error *ngIf="formUpdateProduct
                                            .get('precioCompra')?.touched && formUpdateProduct
                                            .get('precioCompra')?.errors?.['min']">
                                    Recuerda el valor minimo es 1€
                                </mat-error>
                            </mat-form-field>

                            <!-- Precio Venta -->
                            <mat-form-field class="w-50" appearance="outline" floatLabel="always">
                                <mat-label>Precio Venta</mat-label>
                                <input matInput type="number" placeholder="0" formControlName="precioVenta" min="1">
                                <mat-error *ngIf="formUpdateProduct
                                            .get('precioVenta')?.touched && formUpdateProduct
                                            .get('precioVenta')?.errors?.['required']">
                                    Precio Venta obligatorio
                                </mat-error>
                                <mat-error *ngIf="formUpdateProduct
                                            .get('precioVenta')?.touched && formUpdateProduct
                                            .get('precioVenta')?.errors?.['min']">
                                    Recuerda el valor minimo es 1€
                                </mat-error>
                            </mat-form-field>

                            <!-- tallas y stock -->
                            <div class="row align-items-center">

                                <!-- stock -->
                                <div class="col">

                                    <button class="btnAdd mb-4 btn" type="button" mat-raised-button
                                        (click)="addProducto()">Agregar tallas y
                                        stock</button>

                                    <div *ngFor="let u of tallaStockArray.controls; index as i">

                                        <span class="mb-3">Talla {{ i + 1 }}</span>
                                        <app-product-form [inputFormGroup]="$any(u)"></app-product-form>
                                        <button class="btnDelete mb-3" mat-raised-button
                                            (click)="removeUser(i)">borrar</button>

                                    </div>




                                </div>
                            </div>

                            <!-- Imagen de producto -->
                            <mat-card class="image-card mb-2">
                                <mat-card-header>
                                    <mat-card-subtitle>Selecciona una imagen</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image [src]="imgSelect">
                                <mat-card-actions>
                                    <input type="file" (change)="fileChangeEvent($event)" formControlName="portada">
                                </mat-card-actions>
                            </mat-card>

                            <!-- Publicar en tienda -->
                            <mat-checkbox class="text-uppercase mt-3" [ngModel]="publicado" formControlName="tienda">Publicar en
                                Tienda</mat-checkbox>

                            <!-- Boton que hace la petición -->
                            <div class="my-3">

                                <button mat-button class="btn mb-3" type="submit" [disabled]="formUpdateProduct
                            .invalid">Actualizar producto</button>
                            </div>

                        </form>

                    </div>
                    <!-- ------------------------ -->


                </div>
            </div>
        </div>
    </div>

</section>