
// tamaño de letra de todo el componente

// Tarjeta
.card{
    border-radius: 10px;
}

h1{
    font-size: 32px;
    font-weight: 500;
}


.btn{
    background-color:var(--tercerColor) ;
    color: var(--black);
}


// ocultar el input seleccionar archivo
.containerImgProfile > input {
    display: none;
    cursor: pointer;

}

.datosInterior{
    border-bottom: 2px  solid var(--tercerColor);
}

// cambia el estilo del los botones desactivados.
button:disabled {
    border-color: #C6C6C6;
    background: #FFFFFF;
    pointer-events: none;
}

.btn:enabled{
    background-color:var(--tercerColor) ;
    color: var(--black);
}

.containerImgProfile img {
    height: 80px;
    width: 80px;
    border-radius: 50% 50%; 
    cursor: pointer;
}


.eliminarCuenta{
    border: 1px solid red;
    border-radius: 10px;
}
.btnEliminar{
    font-weight: 700;
    background: #FF0000; 
    color: white;
}

