
// tamaño de letra de todo el componente
*{
    font-size: 14px;
}

// Tarjeta
.card{
    border-radius: 10px;
}

// imagen tabla
.imgTabla{
    width: 85px; 
    height: 59px;
    object-fit: cover;
}


// botones
.btn{
    background-color:var(--segundoColor) ;
    color: var(--white);
}

.btn-eliminar{
    background-color: var(--red);
}

// color del la fila al pasar por ella.
.mat-row:hover .mat-cell{
    background-color: #EEF0F2;
}

// cambia el tamaño de los iconos (funciones)
ion-icon{
    font-size: 25px;
    margin-right: 10px;
}


// estilos para el input
mat-form-field {
    width: 100%;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--primerColor)!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: var(--primerColor) !important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--black)!important;
}

// Colores del checkbox
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color:var(--primerColor) !important;
}
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color:var(--primerColor) !important;
}



// centra el loader
.container-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 75px);
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 black;
    }
    50% {
    background-color: black;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }
    100% {
    background-color: #FFF2;
    box-shadow: 32px 0 black, -32px 0 #FFF2;
    }
}