<!-- MENU NAV -->
<app-nav></app-nav>


<!-- Tabla de cuponess -->

<section>
  <div class="container-fluid pt-4 px-4">
    <div class="row my-5 ">
      <div class=" col-xl-10 col-lg-9 col-md-8 ml-auto ">
        <div class="card">

          <!-- Buscador -->
          <div class="col-md-12 py-4">
            <ion-icon name="search-outline" class="iconSearch"></ion-icon>
            <input mat-input class="input" name="mensajesFiltrados" [(ngModel)]="mensajesFiltrados"
              placeholder="Buscar por email">
          </div>


        
          <!-- mensaje card -->
          <div class="col-md-12 pb-4">
            <div *ngFor="let item of (contactos$ | async) | filterMensajes: mensajesFiltrados; index as i;">
              <div>

                <button class="btn btn-block text-left mensaje" data-toggle="collapse" [attr.data-target]="'#test' + i">
                  <i class="bi bi-envelope fa-lg mr-3"></i>
                  <a href="mailto:{{item.email}}">{{item.email}}</a>
                  <p>Asunto: {{item.asunto}}</p>
                  

                  <!-- <p>Nombre: {{item.nombre}}</p> -->
                  <p>Fecha: {{item.creado | date }}</p>
                  <!-- <mat-card-subtitle>{{item.estado}}</mat-card-subtitle> -->

                </button>
              </div>

              <div class="collapse" id="test{{i}}">
                <div class="card-body">{{item.mensaje}}</div>
              </div>
              <hr>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>

</section>