<app-nav></app-nav>


<main>


  <section class="pb-5 cs-carousel-wrapper cs-controls-onhover">
    <div class="cs-carousel-inner" data-carousel-options='{}'>
      <!-- Default Bootstrap carousel -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <!-- Carousel 1 -->

          <div class="carousel-item banner1 active">
            <div class="bg-size-cover py-xl-6 banner2" [routerLink]="['/productos/63d1eca5a6be8383f7d51499']">
              <div class="container pt-5 pb-6">
                <div class="row">
                </div>
              </div>
            </div>
          </div>

          <!-- Carousel 2 -->
          <div class="carousel-item banner2">
            <div class="bg-size-cover py-xl-6 banner3" [routerLink]="['/productos/']">
              <div class="container pt-5 pb-6">
                <div class="row">
                </div>
              </div>
            </div>
          </div>

          <!-- Carousel 3 -->
          <div class="carousel-item banner3">
            <div class="bg-size-cover py-xl-6 banner1" [routerLink]="['/productos/63d1eb34a6be8383f7d4ea3a']">
              <div class="container pt-5 pb-6">
                <div class="row">
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>

  <section class="container pt-5 pt-lg-0">
    <div class="cs-carousel cs-nav-outside">
      <div class="cs-carousel-inner cs-carousel-inner-two" data-carousel-options=''>
        <!-- Carrousel -->
        <a [routerLink]="['/productos/63d1ec06a6be8383f7d4ffac']" class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner mb-3 rounded">
            <img src="../../assets/img/banners2/imagen1.jpg" alt="imagen1">
          </div>
          <h3 class="h5 mb-1">Nike Air Force 1 Low Drake NOCTA Certified Lover Boy</h3>
        </a>
        <!-- Carrousel -->
        <a [routerLink]="['/productos/63d1ebaaa6be8383f7d4f5a9']" class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner mb-3 rounded">
            <img src="../../assets/img/banners2/imagen2.jpg" alt="imagen2">
          </div>
          <h3 class="h5 mb-1">Nike Dunk Low LX Banana</h3>
        </a>
        <!-- Carrousel -->
        <a [routerLink]="['/productos/63d1ebd9a6be8383f7d4fa78']" class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner mb-3 rounded">
            <img src="../../assets/img/banners2/imagen3.jpg" alt="imagen3">
          </div>
          <h3 class="h5 mb-1">Nike Air Max 1 PRM Dirty Denim</h3>
        </a>
      </div>
    </div>
  </section>


  <!-- New arrivals -->
  <section class="container-fluid px-xl-grid-gutter mt-5 mb-3 mb-sm-4 mt-md-0 mb-lg-5 py-5 py-lg-6">
    <div class="text-center mb-5 pb-2">
      <h2 class="h1">Sneakers más populares</h2>
    </div>

    <!-- Product carousel -->
    <div class="cs-carousel cs-nav-outside">
      <div class="cs-carousel-inner cs-carousel-inner-three" data-carousel-options='{
            
          }'>

        <!-- Item -->
        <div *ngFor="let item of populares">
          <div class="card card-product">
            <div class="card-product-img">
              <a [routerLink]="['/productos/', item._id]" class="card-img-top">
                <img [src]="url + 'products/obtenerPortada/'+item.portada" alt="Product image">
              </a>


            </div>
            <div class="card-body">
              <h3 class="card-product-title text-truncate mb-2">
                <a [routerLink]="['/productos/', item._id]" class="nav-link">{{item.nombre}}</a>
              </h3>
              <div class="d-flex align-items-center">
                <span class="h5 d-inline-block mb-0">{{item.precioVenta}}€</span>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </section>

  <!-- Trending products (carousel) -->
  <section class="py-5" style="background-color: #e5e8ed;">
    <div class="container my-lg-2 py-2 py-md-4">
      <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
        <h2 class="h1 mb-0">Recien llegados</h2>
        <div class="tns-custom-controls cs-controls-inverse" id="custom-controls-trending" tabindex="0">
          <button type="button" data-controls="prev" tabindex="-1">
            <i class="cxi-arrow-left"></i>
          </button>
          <button type="button" data-controls="next" tabindex="-1">
            <i class="cxi-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="cs-carousel pb-2">
        <div class="cs-carousel-inner cs-carousel-inner-four" data-carousel-options='{
              
            }'>

          <!-- Item -->
          <div *ngFor="let item of recienLLegados">
            <div class="card card-product mx-auto">
              <div class="card-product-img">
                <a [routerLink]="['/productos/', item._id]" class="card-img-top">
                  <img [src]="url + 'products/obtenerPortada/'+item.portada" alt="Product image">
                </a>

              </div>
              <div class="card-body bg-0 pb-2">
                <h3 class="card-product-title text-truncate mb-2">
                  <a [routerLink]="['/productos/', item._id]" class="nav-link">{{item.nombre}}</a>
                </h3>
                <div class="d-flex align-items-center">
                  <span class="h5 d-inline-block mb-0">{{item.precioVenta}}€</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Popular categories -->
  <section class="container mt-1 mb-3 my-sm-4 py-5 py-lg-6">
    <h2 class="h1 mb-5 pb-3 text-center">Marcas Populares</h2>
    <div class="cs-carousel cs-nav-outside">
      <div class="cs-carousel-inner cs-carousel-inner-five" data-carousel-options='{
            
          }'>

        <!-- Category -->
        <div class="pb-2">
          <a [routerLink]="['/productos/marca/nike']" class="d-block cs-image-scale cs-heading-highlight text-center">
            <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
              <img src="../../assets/img/marcas/nike.png" alt="imagen marca">
            </div>
            <h3 class="h5 mb-3">Nike</h3>
          </a>
        </div>

        <!-- Category -->
        <div class="pb-2">
          <a [routerLink]="['/productos/marca/air jordan']"
            class="d-block cs-image-scale cs-heading-highlight text-center">
            <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
              <img src="../../assets/img/marcas/air-jordan.png" alt="imagen marca">
            </div>
            <h3 class="h5 mb-3">Air Jordan</h3>
          </a>
        </div>

        <!-- Category -->
        <div class="pb-2">
          <a [routerLink]="['/productos/marca/adidas']" class="d-block cs-image-scale cs-heading-highlight text-center">
            <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
              <img src="../../assets/img/marcas/adidas.png" alt="imagen marca">
            </div>
            <h3 class="h5 mb-3">Adidas</h3>
          </a>
        </div>

        <!-- Category -->
        <div class="pb-2">
          <a [routerLink]="['/productos/marca/adidas']" class="d-block cs-image-scale cs-heading-highlight text-center">
            <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
              <img src="../../assets/img/marcas/off-white.png" alt="imagen marca">
            </div>
            <h3 class="h5 mb-3">Off White</h3>
          </a>
        </div>

        <!-- Category -->
        <div class="pb-2">
          <a [routerLink]="['/productos/marca/new balance']"
            class="d-block cs-image-scale cs-heading-highlight text-center">
            <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
              <img src="../../assets/img/marcas/new-balance.png" alt="imagen marca">
            </div>
            <h3 class="h5 mb-3">New Balance</h3>
          </a>
        </div>

        <!-- Category -->
        <div class="pb-2">
          <a [routerLink]="['/productos/marca/yeezy']" class="d-block cs-image-scale cs-heading-highlight text-center">
            <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
              <img src="../../assets/img/marcas/yeezy.png" alt="imagen marca">
            </div>
            <h3 class="h5 mb-3">yeezy</h3>
          </a>
        </div>
      </div>
    </div>
  </section>






</main>


<app-footer></app-footer>