
.banner1{
    background-image: url(../../../assets/img/banners/banner1.webp);
}

.banner2{
    background-image: url(../../../assets/img/banners/banner2.webp);
}


.banner3{
    background-image: url(../../../assets/img/banners/banner3.gif);
}

.banner4{
    background-image: url(../../../assets/img/banners/banner4.gif);
}




@media only screen and (max-width: 768px){
    .banner1{
        background-image: url(../../../assets/img/banners/banner1mobile.webp);
        width: 390px;
        height: 224px;
    }

    .banner2{
        background-image: url(../../../assets/img/banners/banner2mobile.webp);
        width: 390px;
        height: 224px;
    }

    .banner3{
        background-image: url(../../../assets/img/banners/banner3mobile.gif);
        width: 390px;
        height: 224px;
    }

    .banner4{
        background-image: url(../../../assets/img/banners/banner4mobile.gif);
        width: 390px;
        height: 224px;
    }

}
